<!-- Customer List -->
<div class="infor-list mt-6">
    <h3>Danh sách khách hàng</h3>
    <!-- Thanh tìm kiếm và các nút -->
    <div class="d-flex justify-content-between mb-3">
        <form action="/admin/search" method="GET" class="input-group" style="width: 300px;">
            <input type="text" name="text" class="form-control" placeholder="Tìm kiếm thông tin...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Tìm kiếm</button>
            </div>
        </form>
    </div>
    {{!-- content của table --}}
    <table id="customerList" class="table table-striped">
        <thead>
            <tr>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Tổng số dư</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.list}}
            <tr>
                <td>{{Ma_KH}}</td>
                <td>{{Ho_Ten}}</td>
                <td>{{SDT}}</td>
                <td>{{formatNumber Tong_So_Du}}</td>
                <td><a href="../admin/User?Ma_KH={{Ma_KH}}" class="detail-link">Chi tiết</a></td>
            </tr>   
            {{/each}}
        </tbody>
    </table>
</div>
