<div class="mt-6">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Điều chỉnh mức lãi</h5>
            <a href="./RatesAndTerms">
            <button class="btn btn-edit btn-outline-success btn-sm">Xong
                <i class="bi bi-check-circle"></i>
            </button>
        </a>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Mức lãi không kỳ hạn:</th>
                        <td >
                            <input type="text" class="form-control d-inline" value="{{NonTermInterest.Lai_Suat}}" style="width: 60px; display: inline;"> %
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Mức lãi có kỳ hạn:</th>
                        <td></td>
                    </tr>
                    {{#each TermInterest}}
                    <tr>
                        <td class="ps-4">Kỳ hạn {{Thoi_Gian_Ky_Han}} tháng:</td>
                        <td>
                            <input type="text" class="form-control d-inline" value="{{Lai_Suat}}" style="width: 60px; display: inline;"> %
                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <th scope="row">Mức lãi cho vay</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="ps-4">Vay tín dụng:</td>
                        <td>
                            <input type="text" class="form-control d-inline" value="{{CreditLoanInterest.Lai_Suat_Vay}}" style="width: 60px; display: inline;"> %
                        </td>
                    </tr>
                    <tr>
                        <td class="ps-4">Vay thế chấp:</td>
                        <td>
                            <input type="text" class="form-control d-inline" value="{{MortgageInterest.Lai_Suat_Vay}}" style="width: 60px; display: inline;"> %
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>